<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"><!--<![endif]-->
<head>
{% include head.html %}
</head>

<body id="page">

{% include navigation.html %}

<div id="main" role="main" class="portfolio_main">
  <div class="container container-alt">
    <div class="row text-center">
      <section class="col-sm-12 portfolio-wrapper">
        <!-- First Column -->
        <div class="columns">
          <a href="#portfolio1">
            <div class="portfolio-card" data-modal="portfolio1">
              <img src="/images/dish.png" alt="">
              <h3>Dish+</h3>
            </div>
          </a>
          <a href="#">
            <div class="portfolio-card" data-modal="portfolio2">

              <img src="/images/yelp.png" alt="">
              <h3>Yelp Semantic Analysis</h3>
            </div>
          </a>
          <!-- <a href="#">
            <div class="portfolio-card">
              <div class="img-wrapper">
                <div class="img-card" style="background-image: url(https://images.pexels.com/photos/988865/pexels-photo-988865.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=100);" data-img-full="https://images.pexels.com/photos/988865/pexels-photo-988865.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260">
                  <img src="https://images.pexels.com/photos/988865/pexels-photo-988865.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=100" alt="">
                </div>
              </div>
              <h3>Stealth in progress</h3>
            </div>
          </a> -->
        </div>
        <!-- /.First Column -->
        <!-- Second Column -->
        <div class="columns">
          <a href="#">
            <div class="portfolio-card" data-modal="portfolio3">
              <img src="/images/appsec.png" alt="">
              <h3>Security Flaw Tracking on Mobile</h3>
            </div>
          </a>
          <a href="#">
            <div class="portfolio-card">
              <div class="img-wrapper">
                <div class="img-card" style="background-image: url(https://images.pexels.com/photos/325045/pexels-photo-325045.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=100);" data-img-full="https://images.pexels.com/photos/325045/pexels-photo-325045.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260">
                  <img src="https://images.pexels.com/photos/325045/pexels-photo-325045.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=100" alt="">
                </div>
              </div>
              <h3>Color Palette</h3>
            </div>
          </a>
        </div>
        <!-- /.Second Column -->
        <!-- Third Column -->
        <div class="columns">
          <a href="#">
            <div class="portfolio-card">
              <div class="img-wrapper">
                <div class="img-card" style="background-image: url(https://images.pexels.com/photos/937784/pexels-photo-937784.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=100);" data-img-full="https://images.pexels.com/photos/937784/pexels-photo-937784.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260">
                  <img src="https://images.pexels.com/photos/937784/pexels-photo-937784.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=100" alt="">
                </div>
              </div>
              <h3>Stealth in progress</h3>
            </div>
          </a>
          <!-- <a href="#">
            <div class="portfolio-card">
              <div class="img-wrapper">
                <div class="img-card" style="background-image: url(https://images.pexels.com/photos/988865/pexels-photo-988865.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=100);" data-img-full="https://images.pexels.com/photos/988865/pexels-photo-988865.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260">
                  <img src="https://images.pexels.com/photos/988865/pexels-photo-988865.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=100" alt="">
                </div>
              </div>
              <h3>Stealth in progress</h3>
            </div>
          </a> -->
        </div>
        <!-- /.Third Column -->
      </section>
    </div><!-- /.row -->
  </div><!-- /.container -->
</div><!-- /#main -->

<div class="footer-wrapper">
  <footer role="contentinfo" class="entry-wrapper">
    {% include footer.html %}
  </footer>
</div><!-- /.footer-wrapper -->

<!-- Portfolio Modal -->
<div id="portfolio1" class="portfolio-modal">
  <span class="modal-close">&times;</span>
    <div class="container container-alt">
      <div class="row">
        <div class="col-sm-12 modal-wrapper">
          <!-- Content -->
          <img src="/images/dish-cover.png" alt="">
          <h3>Dish+, A food social app with local neighbours</h3>
          <hr>
          <h5>Problem</h5>
          <p>
            Nowadays, People especially introvert millenials, are hardly stepping out of door actively to involve socialization.
            They really want to make friends with others, but there is NO low-cost or just natural way to know someone new.
            It's not surprising but interesting social psychology phenomenon and which leads to much more social anxienty and causes self-recognition problems later.

            Apart from those mainstream social media product across various platfroms like FB, Instagram, Snapchat, Tinder and etc. They have a whole lot of viable social features to have people interact
            so much, but just don't see a similar channel seamlessly integrated back to real life.
          </p>

          <h5>Goal</h5>
          <p>
            The short-term goal here is to enable location-based social onnections based on home-made food sharing events.
            The long-term goal here is to resolve monetization strategy (platform ads, feature-based freemium model, partnership with local grocery market and etc) to make this product profitable and sustainable.

            Figuring out the proper medium is key. It could be achieved via sharing food. So food could become the medium and gather people together naturally. This app is aiming to make socialize connection with local community and nearby neighbours.
            Why is it? It could be expanded to more target users (Initially will be all Millenials who desire to make friends) after small geographical range of trials on most potential users.
          </p>
          <h5>Approach</h5>
          <p>
            <img src="/images/dish_paperwireframe.png" alt="">
            <ul>
              <li>User Login/SignUp</li>
              <li>Profile</li>
              <li>Map && NearBy</li>
              <li>Friends List with ratings</li>
              <li>Message && Invitation Confirmation</li>
              <li>Photo Capture</li>
            </ul>
          </p>
          <h5>Design Prototype</h5>
          <p>This was completed by Sketch prototype tool.(Great to learn it!)</p>
          <p>A little rough but decide to choose mobile platform layout and light warm coloring themes.
          There are total 9 pages at this point that are involving user interaction. (Seriously thinking of security verification process as this is a wide open app could be used not for being good.) So It could be 10 ~ 12 pages.
          </p>
          <img src="/images/dish_prototype.png" alt="">
          <h5>Screenshot</h5>
          Embedded friends list with meal invitations.
          <img src="/images/dish_friend.png" alt="">
          <h5>Retrospect</h5>
          <p>Something needs to be re-considered and also re-assess the growth risk. </p>
          <ol>
            <li>As a user, the entire UX experience could be improve and how to ensure unidentified stranger jus sign up and get invited home?</li>
            <li>As a business, How many Millenials would like to cook initially even they are going to eat by themselves?</li>
            <li>This product just ends up with a starting point as people put aside the product once they are connected. How to maintain the community?</li>
          </ol>


          <!-- /.Content -->
          </br>
        </div>
      </div>
    </div>
</div>

<div id="portfolio2" class="portfolio-modal">
  <span class="modal-close">&times;</span>
    <div class="container container-alt">
      <div class="row">
        <div class="col-sm-12 modal-wrapper">
          <img src="/images/yelp.png" alt="">
          <h3>Yelp Semantic Analysis</h3>
          <hr>
          <h5>Goal</h5>
          <p>The goal here is to estimate the buiness star based on the attributes provided in the raw data(will be "business.json") and also give a relatively accurate semantic results on consumer's review.(will be "review.json")</p>
          <h5>Approach && Hypothesis</h5>
          <p>The data input that is originally from Yelp Academic Dataset. With the help of its users, It provides a ealth of information about franchise and vendors. It includes 1,569,264 reviews, spanning from May 2005 to Jan 2015. These reviews are made on 61,184 business records.</p>
          <img src="/images/yelp_chart1.png" alt="">
          <p>Each review contains a one to five stars rating, which indicates customer satisfaction level.</p>
          <p>Also the attrivute called "Price Range" is an important player. Because if you pay lots $$$ but only get medium or terrible service, you possibly give the place a bad review. Likewise you pay less than 10 bucks and you get medium service then you might think it's ok exprience. So we would like to drop the data entry if it misses this attribute.</p>
          <p>Challenges</p>
          <ul>
            <li>Handling Missing values and dummy data</li>
            <li>Python NTLK Text Classification</li>
          </ul>
          <p>Logistic regression</p>
          <img src="/images/yelp_chart3.png" alt="">
          <p>K-nearest Neighbors</p>
          <img src="/images/yelp_chart2.png" width="65%" height="auto" alt="">
          <p>Confusion Matrix</p>
          <img src="/images/yelp_chart4.png" width="65%" height="auto" alt="">
          <code>
            # import library
            from pandas import * <br>
            # generate x: is the array of attributes <br>
            # generate correlation table and print graph <br>
            df = DataFrame(data=x, columns=['longitude','latitude','review_count','Price Range','Noise Level','Accepts Credit Cards','Take-out','Delivery','Wheelchair Accessible','Takes Reservations'])
            print df.columns.values.tolist() <br>
            cor_matrix = np.corrcoef(df.T) <br>
            sm.graphics.plot_corr(cor_matrix,xnames=df.columns.values.tolist()) <br>
            plt.savefig("f”) <br>
          </code>
          <hr>
          <p>Takeaways</p>
          <p>we are able to improve the accuracy from around 45% ~ 50% at the beginning up to around 97% at least. Particularly while dividing target rating range into two categories, Naive bayes, KNN and SVM gave relatively better results other than decision tree.</p>
          <p>By limiting 10,000 records from "review.json"(due to CPU performance concern) as also operate analysis the score of every single review record item. If the score is positive, we consider the target star
          is equal or above 3; if negative, we consider it is less than 3 (Star rating range: 0 ~ 5). The result confidence is 80.31%</p>
        </div>
      </div>
    </div>
</div>

<div id="portfolio3" class="portfolio-modal">
  <span class="modal-close">&times;</span>
    <div class="container container-alt">
      <div class="row">
        <div class="col-sm-12 modal-wrapper">
          <img src="/images/appsec.png" alt="">
          <h3>Tracking Security Flaws from Codebase on Mobile </h3>
          <hr>
          <h5>Problem</h5>
          <p>Enterprises software and technological buiness are encounting the most sereve security threats from various defects and flaws from their applications. This has been likely much underestimated widely in the whole industry as you can see a bunch of well-known companies became the victim of hundreds lines of flawed codes.</p>
          <h5>Goal</h5>
          <p>There is no perfect software design and bullet-proof fortification. But we'd better start working on minimum amount of defective data, track them, monitor them and fix them with help of security experts</p>
          <p>Approach</p>
          <ul>
            <li>Schedule technical appointment</li>
            <li>Customized Configuration</li>
            <li>View detailed flaw info with ease</li>
            <li>Checking trending chart in certain timeframe </li>
          </ul>
          <p>Screenshots</p>
          <img src="/images/sec1.png" alt="">
          <img src="/images/sec2.png" alt="">
        </div>
      </div>
    </div>
</div>
<!-- /.Portfolio Modal -->

{% include scripts.html %}

</body>
</html>
